.grid-container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    max-width: 900px;
    margin: 3rem auto;
    border: 2px solid black;
}

.grid-item {
    padding: 1rem;
    color: white;
    background-color: steelblue;
    border: 2px solid rgb(26, 73, 112);
    font-size: 18px;

}

/* @media(max-width:300px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
} */