@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    margin: 3rem auto;
    border: 2px solid black;
    padding: 20px;
    display: grid;
    max-width: 1100px;
}